<html lang="en">
<%- include("./index.ejs") %>
    <main class="l-main">
        <div class="content-wrapper content-wrapper--with-bg">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Overview</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
            </nav>
            <h1>Customers</h1>
            <p>Here's a list of the people who also help you grow your business</p>
            <div>
                <div style="display: flex;padding: 10px;">
                    <%- include("./tablebuttons.ejs") %>
                        <button type="button" class="btn btn-primary" id="print">Print</button>
                        <a href="/dashboard/customerForm" style="margin-left: auto;"><button type="button" class="btn btn-info"><i class="fas fa-plus"></i> Add Customer</button></a>
                </div>
                <table class="table table-bordered" id="customers">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Join Date</th>
                            <th scope="col">Currency</th>
                            <th scope="col">Amount Paid</th>
                            <th scope="col">Group</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (customers.length > 0) { %>
                            <% customers.forEach(customer => { %>
                                <tr>
                                    <th scope="row">
                                        <%= customer.name %>
                                    </th>
                                    <td>
                                        <%= customer.phone %>
                                    </td>
                                    <td>
                                        <%= customer.date %>
                                    </td>
                                    <td>
                                        <%= customer.currency %>
                                    </td>
                                    <td>
                                        <%= customer.amount %>
                                    </td>
                                    <td>
                                        <%= customer.group %>
                                    </td>
                                    <td>
                                        <%= customer.status %>
                                    </td>
                                    <td style="display: flex;">
                                        <a href="/dashboard/customers/<%= customer._id %>"><button type="button" class="btn btn-warning button"><i class="fas fa-edit"></i></button></a>
                                    </td>
                                </tr>
                                <% }) %>
                                    <% } else { %>
                                        <p>There are no Records to display...</p>
                                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <style>
            .button {
                margin: 5px
            }
        </style>
        <script>
            $(function() {
                $('#print').click(function() {
                    var pageTitle = 'Customers',
                        stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css',
                        win = window.open('', 'Print', 'width=500,height=300');
                    win.document.write('<html><head><title>' + pageTitle + '</title>' +
                        '<link rel="stylesheet" href="' + stylesheet + '">' +
                        '</head><body>' + $('#customers')[0].outerHTML + ' < /body></html > ');
                    win.document.close();
                    win.print();
                    win.close();
                    return false;
                })
            })​
        </script>

</html>